POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

MALPROBE_DATABASE_DSN=postgresql://postgres:postgres@localhost:5432/postgres
MALPROBE_ADDR=0.0.0.0:8000
MALPROBE_DATABASE_MIGRATE=true
